#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: blanchedalmond;
  color: blueviolet;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

label {
  margin-right: 1em;
}
button {
  color: blue;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}